$font-family_1: "Sixtyfour", sans-serif;
$background-color_1: var(--body-background-color);

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
&:root {
	--primary-color: rgb(0, 0, 0);
	--secondary-color: #2719a0;
	--body-background-color: rgb(199, 197, 197);
	--third-color: #c20f3c;
}
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	font-weight: 450;
	font-size: 16px;
	line-height: 1.5;
	padding: 20px;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	margin-top: 10px;
}
