* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 0, 0);
  --secondary-color: #2719a0;
  --body-background-color: rgb(199, 197, 197);
  --third-color: #c20f3c;
}

body {
  background-color: var(--body-background-color);
  font-family: "Sixtyfour", sans-serif;
  font-weight: 450;
  font-size: 16px;
  line-height: 1.5;
  padding: 20px;
}

.pokedex-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}


.pokemonName {
  color: var(--secondary-color);
  display: -webkit-box;
  display: -ms-flexbox;

}

ul{
  list-style-type: none;
  padding: 0;
}

.pokemon-button {
    display: block;
    width: 500px;
    height: 100px;
    margin: 20px;
    background-color: #2421e0;
    color: white;
    /* border: none; */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.pokedex-heading {
  margin: 20px;
}

/* Hover effect for the button */
.pokemon-button:hover {
  background-color: #45a049;
}